# Pasting the screenshots of my learnings on day 9

REVENUE TREND

In [0]:
%sql
SELECT
  DATE(event_time) AS order_date,
  ROUND(SUM(price),3) AS total_revenue
FROM events_oct_delta
WHERE event_type = 'purchase'
GROUP BY DATE(event_time)
ORDER BY order_date;

TOP CATEGORIES BY REVENUE

In [0]:
%sql
SELECT
  category_code,
  SUM(price) AS total_revenue
FROM events_oct_delta
WHERE event_type = 'purchase'
  AND category_code IS NOT NULL
GROUP BY category_code
ORDER BY total_revenue DESC
LIMIT 10;

TOP BRANDS BY REVENUE

In [0]:
%sql
SELECT
  brand,
  SUM(price) AS total_revenue
FROM events_oct_delta
WHERE event_type = 'purchase'
  AND brand IS NOT NULL
GROUP BY brand
ORDER BY total_revenue DESC
LIMIT 10;

TOTAL REVENUE

In [0]:
%sql
SELECT
  ROUND(SUM(price), 2) AS total_revenue
FROM events_oct_delta
WHERE event_type = 'purchase';

TIME-OF-DAY BEHAVIOUR

In [0]:
%sql
SELECT
  hour(event_time) AS hour_of_day,
  COUNT(*) AS events
FROM events_oct_delta
GROUP BY hour(event_time)
ORDER BY hour_of_day;

CUSTOMER TIERS

In [0]:
%sql
SELECT
  CASE WHEN cnt >= 10 THEN 'VIP'
       WHEN cnt >= 5 THEN 'Loyal'
       ELSE 'Regular' END as tier,
  COUNT(*) as customers
FROM (SELECT user_id, COUNT(*) cnt, SUM(price) total_spent
      FROM events_oct_delta WHERE event_type='purchase' GROUP BY user_id)
GROUP BY tier;